img {
    width: 50%;
    height: auto;
}
.questionmark_wrapper div {
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 2px;
    border-color: cornflowerblue;
}